* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #005975;
  font-family: "Luckiest Guy", cursive;
}

.title {
  color: #ffff;
  text-shadow: 2px 2px 2px #5d9bf0;
}

.row-bg-1 {
  background-color: #f5faff;
  padding-top: 15px;
}

.row-bg-2 {
  background-color: #b47743;
  padding-top: 15px;
}

.clearbtn {
  color: #ffff;
  background: #413e45;
}

.actionbtn {
  background: #5d9bf0;
  color: #ffff;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem #b47743;
}

.readonlyinput {
  cursor: not-allowed;
}
